{{! Introduction section }}
<div class="about-me">
  <div class="intro">
    <div class="me">
      <img src="images/me.jpg" alt="Hetashvi Ban" />
    </div>

    <div class="text">
      <p>About Me</p>
      <h2>Hetashvi Ban</h2>
      <p>
        Hey! I'm Hetashvi Ban, a soon-to-be graduate in Computer Programming
        from Georgian College, Canada. My passion for technology has driven me
        to master various programming languages and tools. As I transition into
        the professional world, I'm excited to share my journey and experiences
        as I seek new opportunities in the tech industry.
      </p>
      <p>I pride myself on my disciplined coding practices, clear structural
        designs, and strong logical thinking. I am quick to learn new
        technologies and methods, and I thrive on solving complex problems. My
        curiosity and dedication to exploring new tech innovations keep me
        motivated and inspired.
      </p>
    </div>
  </div>

  <div class="column"></div>

  {{! Experience section }}
  <div class="experience">
    <h2>Education Qualification</h2>
    {{! Education }}
    <div class="college">
      <p class="date"> January 2023 - August 2024</p>
      <p class="college-name">Georgian College of Applied Arts and Technology</p>
      <p class="info">Pursuing a Computer Programming Post-Graduate Diploma, I
        consistently made it to the Dean's List, maintaining an average of 90%.
        I learned a spectrum of frontend, backend, and database technologies,
        along with programming tools and version control system.</p>
    </div>

    <div class="column"></div>

    {{! Work }}
    <h2>Work Experience</h2>
    <div class="work">
      <div class="work-one">
        <p>June 2024 - Present</p>
        <p class="job-title">Campus Engagement Ambassador - Georgian College</p>
        <p>Spearheaded innovative and impactful student engagement initiatives,
          catalyzing a vibrant campus community and amplifying participation by
          30%, while also serving as a proactive intermediary between students
          and college administration, championing student needs and elevating
          campus experiences through collaborative and innovative solutions.</p>
      </div>

      <div class="work-two">
        <p>April 2023 - Present</p>
        <p class="job-title">Supervisor - Score Pizza</p>
        <p>Orchestrated collaborative efforts among team members through
          effective delegation and task prioritization, resulting in a 20%
          increase in productivity during peak hours, while exhibiting
          remarkable time management, organizational abilities, and attention to
          detail, fostering efficient workflow and high-quality service
          delivery.</p>
      </div>

      <div class="work-three">
        <p>July 2022 - Nov 2022</p>
        <p class="job-title">Social Media Executive - Zebra Learn</p>
        <p>Generated and curated compelling and targeted content, meticulously
          optimized for various social media platforms, resulting in a
          significant 25% increase in user engagement and heightened brand
          visibility, while methodically utilizing data analytics tools to
          measure and continuously enhance social media performance, skillfully
          leveraging actionable insights to refine and optimize strategies for
          maximum impact.</p>
      </div>
    
    </div>
  </div>
</div>