<div class="hero">
  <div class="content">
    <a href="/about" class="name">Hetashvi Ban</a>
    <div class="profession">
      <div class="circle">Developer</div>
    </div>
    <div class="student">
      <div class="rectangle one">Georgian College Student</div>
    </div>
    <div class="city">
      <div class="rectangle two">Based in Toronto/Canada</div>
    </div>
    <div class="hobby">
      <div class="rectangle three">Passionate Coder &amp; Problem Solver!</div>
    </div>
    <div class="heart"></div>
    <div class="star"></div>
    <img src="/images/sparkle.png" alt="sparkle emoji" class="sparkle" />
    <img src="/images/sun.png" alt="sun and cloud emoji" class="sun" />
    <img src="/images/peace.png" alt="peace emoji" class="peace" />
  </div>

  <div class="content-phone">
    <div class="phone-name">Hetashvi Ban</div>
    <div class="my-title">Software Developer</div>
    <a href="/about" class="hello-button">Hello 👋</a>
  </div>
</div>