<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <link rel="stylesheet" href="/stylesheets/projects.css" />
    <link rel="stylesheet" href="/stylesheets/contact.css" />
  </head>
  <body>
    <nav>
      <a href="/">Hetashvi Ban</a>
      <div class="links">
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        <a href="/about">About me</a>
      </div>
      <div class="dir">
        <a href="/about">Hello</a>
      </div>
    </nav>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>
</html>