<div class="timeline-container">
  <div class="project">

    <div class="column-two"></div>

    <div class="card card-one">
      <div class="card-content">
        <div class="card-header">
          <h3 class="h3-one">Spotify Clone</h3>
          <p>A Spotify clone created using HTML, CSS, and JavaScript. This
            project aims to replicate the look and feel of Spotify's interface
            and includes functionalities such as playing and pausing music,
            shuffling, repeating music, volume control, track progress bar, and
            skip forward/backward functionalities.</p>
        </div>
        <div class="card-footer">
          <a
            href="https://github.com/Hetashviban/Spotify-clone"
            target="_blank"
          >Github</a>
          <a
            href="https://hetashviban.github.io/Spotify-clone/"
            target="_blank"
          >Website</a>
        </div>
      </div>
    </div>

    <div class="card card-two">
      <div class="card-content">
        <div class="card-header">
          <h3 class="h3-one">ASP.NET Grocery Store Website</h3>
          <p>A grocery store e-commerce website created using ASP.NET MVC. This
            project replicates basic functionalities of an e-commerce platform
            tailored for a grocery store, including product listings, cart
            management, user authentication, and checkout process.</p>
        </div>
        <div class="card-footer">
          <a
            href="https://github.com/Hetashviban/WorldDominion"
            target="_blank"
          >Github</a>
        </div>
      </div>
    </div>

    <div class="card card-two">
      <div class="card-content">
        <div class="card-header">
          <h3>Java API Movie Search</h3>
          <p>A Java application utilizing the ODBM API to fetch movie data and
            display it to users. This project was developed to enhance
            understanding of API integration and user interface design.</p>
        </div>
        <div class="card-footer">
          <a
            href="https://github.com/Hetashviban/MoviesAPI"
            target="_blank"
          >Github</a>
        </div>
      </div>
    </div>
  </div>
</div>