/* NAVBAR STYLES */
@font-face {
  font-family: "text";
  src: url("/fonts/text.ttf") format("truetype");
}

body {
  margin: 0%;
}

nav {
  font-family: text;
  height: 10vh;
  font-weight: 700;
  font-size: 1rem;
  height: 3.5em;
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  background-color: #abccfe;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:first-child {
  margin-left: 1.2em;
}

.links {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.links a {
  padding: 0rem 1rem;
}

.dir {
  width: 10%;
}

.dir img {
  height: 1.1rem;
  width: 1.1rem;
  margin-left: 0.1rem;
}

p {
  font-size: 1rem;
  margin-left: 1rem;
  width: 10%;
}

.fa-bars {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav {
    height: auto;
    padding: 1em;
    flex-direction: column;
  }

  .links {
    width: 100%;
    display: none;
    flex-direction: column;
  }

  .links a {
    padding: 0.5rem 0;
  }

  .dir {
    display: none;
  }

  .fa-bars {
    display: block;
    cursor: pointer;
    margin-left: auto;
    padding-right: 1em;
  }

  .my-name{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  nav a:first-child {
    display: inline-block;
  }
}

/* Show links on small screens when menu is clicked */
@media (max-width: 768px) {
  .links.active {
    display: flex;
  }
}